header {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid #000;
}
footer {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-top: 2px solid #000;
}
#main_content {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px;
}

.modal-header h4 {
	padding-bottom: 2rem;
}

.clickable tbody tr {
	cursor: pointer;
}
.clickable tbody tr:hover {
	background-color: #F0F0F0;
}
.menu {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}
.menu a:hover {
	color: #000000;
}
#content {
	padding-top: 1rem;
}
.txt-red {
	color: red;
}
.oem-repair .inner-block{
    width:85%;
    margin: auto
}
.oem-repair h1{
    font-size: 4rem
}
.oem-repair p{
    margin-top: 15px;
}
.oem-repair .no-bullet span{
    min-width: 120px;
    display: inline-block
}
.oem-repair .no-bullet{
    margin-top: 25px;
}
.oem-repair .no-bullet li{
    margin-top: 8px;
    margin-bottom: 8px;
}
.oem-repair .block{
    border: 1px solid #000;
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.oem-repair .block p{
    margin-top: 0;
}
.oem-description {
    position: relative;
    border-bottom: 1px solid #000;
}
.oem-description .page{
    position: absolute;
    bottom: 1rem;
    right: 0
}
.border{
    border: 1px solid #000;
}
.body-shop-sop-header {
    background: #cacaca;
    border: 1px solid #000;
    margin-bottom: 20px;
}
.body-shop-sop-header h3{
    color: #fff;
    background: #000;
    padding: 10px;
}
.body-shop-sop-header .body{
    padding: 10px;
}
.body-shop-sop-body .border{
    min-height: 90px;
}
.body-shop-sop-body .border p{
    padding: 3px 5px;
}
.body-shop-sop-body .step{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .oem-description .page{
        position: static
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}